/*Overview*/

.overview-title {
  color: blue;
}

.overview-product {
  display: flex;
  flex-direction: column;
}

.overview-top-row {
  display: flex;
  flex-direction: row;
}

.overview-right-col {
  display: flex;
  flex-direction: column;
}

.overview-styles-thumbnails-container {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.overview-styles-imgs {
  position: relative;
  list-style: none;
  flex: 0 0 21%;
  margin: 5px;
  height: 100px;
}

.overview-size-container {
  position: relative;
  display: inline-block;
}

.overview-size-button {
  padding: 0;
  width: 50px;
}

.overview-size-ul {
  list-style: none;
  background-color: white;
}

.overview-size-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}
.overview-styles-img {
  border-radius: 50px
}

.overview-styles-checkbox {
  position: absolute;
  background-color: black;
  left: 40px;
  z-index: 1;
  top: 0px;
}

.overview-styles-checkbox-hidden {
  display: none;
  position: absolute;
  left: 40px;
  z-index: 1;
  top: 0px;
}

/*Overview Image Gallery*/
.overview-image-gallery {
  position: relative;
}


.overview-thumbnails {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  position: absolute;
  top: 0px;
  padding: 10px;
}
.overview-thumbnails-img {
  padding: 10px;
}

/*Review CSS*/
 .review-rating-text {
  float: left;
  width: 4rem;

}

.review-rating-progress {
  float: left;
  width: 10rem;
  padding: 5px;
}

.review-row:after {
  content: "";
  display: table;
  clear: both
}

.review-stars-outer {
  position: relative;
  display: inline-block;
}

.review-stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.review-stars-outer::before {
  content: '★★★★★';
  font-weight: 900;
  color: #ccc;
}

.review-stars-inner::before {
  content: '★★★★★';
  font-weight: 900;
  color: #f8ce0b;
}


.review-star-container {
  padding: 16px;
  margin: 16px auto;
}

.review-star-result {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 900;
}

.review-star-inputs {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.review-star-input {
  position: relative;
  cursor: pointer;
  font-weight: 900;
  color: #ccc;
}

.review-stars_radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}



.review-header-area { grid-area: header; }
.review-list-area { grid-area: list; }
.review-ratingbreakdown-area {grid-area: rating;}
.review-productbreakdown-area {grid-area: product;}

.review-grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header header'
  'rating rating rating list list list list'
  'rating rating rating list list list list'
  'product product product list list list list';
  grid-gap: 10px;
  padding: 10px;
}
